<html>
<head>

<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin+Slab"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/ajax.js">
</script>


<style>
body {
	font-family: 'Josefin Slab';
	font-size: 35px;
	color:white;
	background-color: #007a99;
}
table {
	font-size:30px;
	position:relative;
	bottom:-10px;
}
.class1 {
	width:100px;
	height:30px;
	border-radius:60px;
}
</style>
</head>

<body >
<center id = "index">
<h1>Register</h1>
<p>Enter your username and password</p>
<table>
<form  method="post">
<tr>
<td>Username</td>
<td><input type="text" name="username" id="username"/></td>
</tr>
<tr>
<td>Password</td>
<td><input type="password" name="pwd"  id="pwd"/></td>
</tr>
<tr>
<td>Date of birth:</td>
<td>
<input type="date" name="dob"/></td>
</td>
</tr>
<tr>

<td align="center" colspan="2"><input type="button"value="Register" id = "register" name="regOrLogin" class="class1"/></td>
</tr>
</form>
</table>
</center>



</body> 

</html>
