<form id="loginForm" action="javascript:void(0)" method="post">
    <fieldset>
        <legend>Login Form</legend>
        <div>
            <label>Email address
												<input type="text" id="userEmail" name="userEmail" required>
												</textarea>
											</label>
        </div>
        <div>
            <label>Password
												<input type="password" id="passowrd" name="password" required>
												</textarea>
											</label>
        </div>
        <div>
            <button id="customerLogin" type=submit aria-label="Sign in">Sign In</button>
        </div>
        <div>
            <a href="#" id="registration">Sign Up</a>
        </div>
    </fieldset>
</form>