<div id="reviewOrderDetails" tabindex="0">
<form id="orders">
    <fieldset>
        <legend tabindex="1">My Orders</legend>
        <div style="width:100%;float:right;" id="ordersTable">

        </div>
    </fieldset>
</form>
</div>
<script>
    triggerListeners();
    var orders = JSON.parse('<%-JSON.stringify(orders)%>');
    document.getElementById('onPageContent').innerHTML = "You are in My orders page.";
    document.getElementById('onPageContent').focus();
    loadOrdersTable(orders);
</script>
