
<fieldset>
<label for="orderId">Order Id:</label> <div id="orderId"></div>
</fieldset>
<form id="paymentDetails">
    <fieldset>
        <legend tabindex="1">Payment Details</legend>
        <div class="productFocus">
            <input type="radio" name="payoption" id="wallet1">
            <label for="Paytm">Paytm</label>
        </div>
        <div class="productFocus">
            <input type="radio" name="payoption" id="wallet2">
            <label for="wallet2">Wallet 2</label>
        </div>
        <div class="productFocus">
            <input type="radio" name="payoption" id="wallet3">
            <label for="wallet3">Wallet 3</label>
        </div>
        <div style="width:100%;float:right;">
            <button id="cancelOrder" type=button>Cancel Order</button>
            <button id="proceedToPay" type=button>Proceed to Pay</button>
        </div>
    </fieldset>
</form>
</fieldset>
<div id="otpModal">

    <!-- Modal content -->
    <div class="modal-content1" >
        <p>  
            <div id="modalContent">
                <label for="otp">   
                Enter OTP:
                <input type="text" name="otp" id="otp" tabindex="0">
            </label>
            <button id="cancelotp" name="cancelotp">Cancel</button>
            <button id="submitotp" name="submitotp">Submit</button>
        </div>
    </div>
    </p>
</div>

<script>
    var modal = document.getElementById('otpModal');
    orderId = "<%=orderId%>";
    console.log("orderId in Payment::",orderId);
    modal.style.display = "none";
    document.getElementById('orderId').innerHTML = orderId;
    document.getElementById('onPageContent').innerHTML = "You are in payment page. Choose your payment option";
    document.getElementById('onPageContent').focus();
</script>