<form id="paymentDetails">
    <fieldset>
        <legend tabindex="1">Payment Details</legend>
        <span>
            <input type="radio" name="payoption" id="wallet1">
            <label for="wallet1">Wallet 1</label>
        </span>
        <span>
            <input type="radio" name="payoption" id="wallet2">
            <label for="wallet2">Wallet 2</label>
        </span>
        <span>
            <input type="radio" name="payoption" id="wallet3">
            <label for="wallet3">Wallet 3</label>
        </span>
        <div style="width:100%;float:right;">
            <button id="cancelOrder" type=button>Cancel Order</button>
            <button id="proceedToPay" type=button>Proceed to Pay</button>
        </div>
    </fieldset>
</form>
<div id="otpModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content" >
        <span class="closeotp">&times; Close</span>
        <p><div id="modalContent">
            <label for="otp">Enter OTP:
                <input type="text" name="otp" id="otp" tabindex="0">
            </label>
            <button id="cancelotp" name="cancelotp">Cancel</button>
            <button id="submitotp" name="submitotp">Submit</button>
        </div>
    </div>
    </p>

    <div class="overlay">

    </div>
</div>

<script>
    var modal = document.getElementById('otpModal');
    var span = document.getElementsByClassName("closeotp")[0];
    orderId = "<%=orderId%>";
    console.log("orderId in Payment::",orderId);
    modal.style.display = "none";
	span.onclick = function () {
		modal.style.display = "none";
	}
	window.onclick = function (event) {
		if (event.target == modal) {
			modal.style.display = "none";
		}
	}
</script>