<form id="productDetails">
    <fieldset>
        <legend >Pizza Order</legend>
        <div class="products">
            <div class="product">
				<div id="product1">
                <label>
													<img src="1371006.png" title="" alt="" />
													<span style="padding-left: 10px">
													<div>
														<strong>Veggie Supreme.</strong>
													</div>
													<div>

														Ingredients: Onion, Capsicum, Mushroom, Red Paprika, Black Olives, Sweet Corn

													</div>
													<div>
														<span>
															<small>Price</small>
															<strong>$ 49</strong>
														</span>

													</div>
													
													<input onclick="addRemovePizza({checkboxid:'veggie',name:'Veggie Supreme',quantityid:'quantity1', quantity: 1, price:49})" 
													onFocus="onFocus('product1')" onBlur="onBlur('product1')" id="veggie" type="checkbox" name="pizza1" value="veggie">


												
													</span>
												</label>
													<span><label for="quantity1">Quantity :</label> 
														<select id="quantity1" name="quantity" disabled="disabled" 
														onchange="updateQuantity({checkboxid:'veggie',name:'Veggie Supreme',quantityid:'quantity1', quantity: '1'})">
															<option value = "">Choose Quantity</option>
															<option value="1">1</option>
															<option value="2"> 2</option>
															<option value="3">3</option>
														</select>
													</span>
												</div>
            </div>
            <div class="product">
				<div id="product2">
                <label>
													<img src="1371007.png" title="" alt="" />
													<span style="padding-left: 10px">
													<div>
														<span>Supreme</span>
														<strong>Exotica.</strong>
													</div>
													<div>
														Ingredients: Red Capsicum, Green Capsicum, Baby Corn, Black Olives, Jalapenos
													</div>
													<div>
														<span>
															<small>Price</small>
															<strong> $ 40</strong>
														</span>

													</div>
													<input onclick="addRemovePizza({checkboxid:'exotica',name:'Supreme Exotica',quantityid:'quantity2', quantity: 1, price:40})" 
													onFocus="onFocus('product2')" onBlur="onBlur('product2')" id="exotica" type="checkbox" name="pizza2" value="exotica">


											
													</span>
												</label>
														<span><label for="quantity2">Quantity :</label>  
														<select name="quantity" id="quantity2" disabled="disabled" 
														onchange="updateQuantity({checkboxid:'exotica',name:'Supreme Exotica',quantityid:'quantity2', quantity: '1'})">
															<option value = "">Choose Quantity</option>
															<option value="1">1</option>
															<option value="2"> 2</option>
															<option value="3">3</option>
														</select>
													</span>
            </div>
			</div>
            <div class="product">
				<div id="product3">
                <label>
													<img src="1371005.png" title="" alt="" />
													<span style="padding-left: 10px">
													<div class="product-name">
														<span>Supreme</span>
														<strong>Paneer Vegorama.</strong>
													</div>
													<div>
														<span>

															Ingredients: Paneer, Onion, Capsicum, Black Olives, Red Paprika
														</span>

													</div>
													<div>
														<span>
															<small>Price</small>
															<strong>$ 41</strong>
														</span>

													</div>
													<input  onclick="addRemovePizza({checkboxid:'vegorama',name:'Supreme Paneer Vegorama',quantityid:'quantity3', quantity: 1, price:41})" 
													 onFocus="onFocus('product3')" onBlur="onBlur('product3')" id="vegorama" type="checkbox" name="pizza3" value="Paneer">
													
													</span>
												</label>
												<span><label for="quantity3">Quantity :</label>  
														<select name="quantity" id="quantity3" disabled="disabled"
														onchange="updateQuantity({checkboxid:'vegorama',name:'Supreme Paneer Vegorama',quantityid:'quantity3', quantity: '1'})">
															<option value = "">Choose Quantity</option>
															<option value="1">1</option>
															<option value="2"> 2</option>
															<option value="3">3</option>
														</select>
													</span>
				</div>
            </div>
            <div class="product" >
				<div id="product4">
                <label>
													<img src="1371001.png" title="" alt="" />
													<span style="padding-left: 10px">
													<div class="product-name">
														<span>Signature</span>
														<strong>Tandoori Paneer.</strong>
													</div>
													<div>
														<span>
															Ingredients: Paneer, Onion, Capsicum, Red Paprika &amp; Tomato
														</span>

													</div>
													<div>
														<span>
															<small>Price</small>
															<strong>$ 44</strong>
														</span>

													</div>
													<input   onclick="addRemovePizza({checkboxid:'signature',name:'Signature Tandoori Paneer',quantityid:'quantity4', quantity: 1, price:44})" 
													onFocus="onFocus('product4')" onBlur="onBlur('product4')" id="signature" type="checkbox" name="pizza4" value="PaneerTadoori">
													
													</span>
												</label>
												<span><label for="quantity4">Quantity : </label> 
														<select name="quantity" id="quantity4" disabled="disabled"
														onchange="updateQuantity({checkboxid:'signature',name:'Signature Tandoori Paneer',quantityid:'quantity4', quantity: '1'})" >
															<option value = "">Choose Quantity</option>
															<option value="1">1</option>
															<option value="2"> 2</option>
															<option value="3">3</option>
														</select>
													</span>
				</div>
            </div>
            <div style="width:100%;float:right;">
                <button id="savePizzaSelection" type=button >Continue to Toppings</button>
            </div>
    </fieldset>
</form>
<script>
  loadSelectedPizzas();
</script>
