<form id="productDetails">
    <fieldset>
        <legend >Pizza Order</legend>
        <div class="products">
            <div class="product">
				<div id="product1">
                <label>
													<img src="1371006.png" title="Pizza Hut Veggie Supreme Pizza" alt="" />
													<span style="padding-left: 10px">
													<div>
														<strong>Veggie Supreme.</strong>
													</div>
													<div>

														Ingredients: Onion, Capsicum, Mushroom, Red Paprika, Black Olives, Sweet Corn

													</div>
													<div>
														<span>
															<small>Price</small>
															<strong>$49</strong>
														</span>

													</div>
													
													<input onFocus="onFocus('product1')" onBlur="onBlur('product1')" id="veggie" type="checkbox" name="pizza1" value="veggie">


													<span>
														<select name="quantity" disabled="disabled">
															<option>Choose Quantity</option>
															<option value="1">1</option>
															<option value="2"> 2</option>
															<option value="3">3</option>
														</select>
													</span>
													</span>
												</label>
												</div>
            </div>
            <div class="product">
				<div id="product2">
                <label>
													<img src="1371007.png" title=" Hot &amp; Fresh Exotica Italian Veg Pizza " alt="" />
													<span style="padding-left: 10px">
													<div>
														<span>Supreme</span>
														<strong>Exotica.</strong>
													</div>
													<div>
														Ingredients: Red Capsicum, Green Capsicum, Baby Corn, Black Olives, Jalapenos
													</div>
													<div>
														<span>
															<small>Price</small>
															<strong> $40</strong>
														</span>

													</div>
													<input onFocus="onFocus('product2')" onBlur="onBlur('product2')" id="veggie" type="checkbox" name="pizza2" value="exotica">


													<span>
														<select name="quantity">
															<option>Choose Quantity</option>
															<option value="1">1</option>
															<option value="2"> 2</option>
															<option value="3">3</option>
														</select>
													</span>
													</span>
												</label>
            </div>
			</div>
            <div class="product">
				<div id="product3">
                <label>
													<img src="1371005.png" title="Paneer Vegorama " alt="" />
													<span style="padding-left: 10px">
													<div class="product-name">
														<span>Supreme</span>
														<strong>Paneer Vegorama.</strong>
													</div>
													<div>
														<span>

															Ingredients: Paneer, Onion, Capsicum, Black Olives, Red Paprika
														</span>

													</div>
													<div>
														<span>
															<small>Price</small>
															<strong>$41</strong>
														</span>

													</div>
													<input onFocus="onFocus('product3')" onBlur="onBlur('product3')" id="veggie" type="checkbox" name="pizza3" value="Paneer">
													<span>
														<select name="quantity">
															<option>Choose Quantity</option>
															<option value="1">1</option>
															<option value="2"> 2</option>
															<option value="3">3</option>
														</select>
													</span>
													</span>
												</label>
				</div>
            </div>
            <div class="product" >
				<div id="product4">
                <label>
													<img src="1371001.png" title="Tandoori Paneer Pizza" alt="" />
													<span style="padding-left: 10px">
													<div class="product-name">
														<span>Signature</span>
														<strong>Tandoori Paneer.</strong>
													</div>
													<div>
														<span>
															Ingredients: Paneer, Onion, Capsicum, Red Paprika &amp; Tomato
														</span>

													</div>
													<div>
														<span>
															<small>Price</small>
															<strong>$ 44</strong>
														</span>

													</div>
													<input onFocus="onFocus('product4')" onBlur="onBlur('product4')" id="veggie" type="checkbox" name="pizza4" value="PaneerTadoori">
													<span>
														<select name="quantity">
															<option>Choose Quantity</option>
															<option value="1">1</option>
															<option value="2"> 2</option>
															<option value="3">3</option>
														</select>
													</span>
													</span>
												</label>
				</div>
            </div>
            <div style="width:100%;float:right;">
                <button id="savePizzaSelection" type=button >Continue to Toppings</button>
            </div>
    </fieldset>
</form>