<form id="registrationForm" action="javascript:void(0)" method="post">
    <fieldset>
        <legend>
            <h1 class="entry-title">Registration</h1>
			<div id="registrationFormMessage" style="display:none"> </div>			
        </legend>		
        <div>
            <label for="given-name">First Name
												<input id="given-name" name="given-name" type="text" placeholder="First name" required>
											</label>
        </div>
        <div>
            <label for="family-name">Last Name
												<input id="family-name" name="family-name" type="text" placeholder="Last name" required>
											</label>
        </div>
        <div>
            <label for="dob">Date of Birth
												<input id="dob" name="dob" type="date" required>
											</label>
        </div>
        <div>
            <label for="sex">Sex
												<select id="sex" name="sex" required>
													<option selected="selected" value="">Please choose one…</option>
													<option value="2">Male</option>
													<option value="3">Female</option>
													<option value="4">Other</option>
												</select>
											</label>
        </div>
        <div>
            <label for="email">Email
												<input id="email" name="email" type="email" placeholder="example@domain.com" required>
											</label>
        </div>
        <div>
            <label for="pwd">New Password
												<input id="pwd" name="pwd" type="password" placeholder="password" required>
											</label>
        </div>
        <div>
            <label for="phone">Telephone
												<input id="phone" name="phone" type="tel" placeholder="Eg. +91 9916 109 951" lable="Enter phone number">
											</label>
        </div>
        <div>
            <button id="saveRegistration" type="submit" >Submit Registration</button>
        </div>
    </fieldset>
</form>