<div id="reviewOrderDetails" >

    <!-- Modal content -->
    <div tabindex="0">
    

        <legend>Order Review:
        <table >
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
                <th scope="col">unit Price</th>
                <th scope="col">Total Price</th>
            </tr>

            <tbody id="pendingorders">
            </tbody>
        </table>
    </legend>
    </div>
    <button id="modifyOrder" type="button" value="modifyorder">Modify Order</button>
    <button id="goToBilling" type="button" value="continueorder">Continue Order</button>
</div>
<script>
    triggerListeners();
    loadPendingOrders();
</script>