<div id="reviewOrderDetails" >

    <!-- Modal content -->
    <div tabindex="0">
    

        <legend>Order Review:</legend>
        <table role="grid">
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
            </tr>

            <tr>
                <td>Paneer Exotica</th>
                    <td>2</td>
                    <td>$ 140</td>
            </tr>

            <tr>
                <td>Veg Supreme</th>
                    <td>4</td>
                    <td>$ 240</td>
            </tr>
            <tr>
                <tr>Total</tr>
                <td></td>
                <td>$ 380</td>
            </tr>
        </table>
        <button id="modifyOrder" type="button" >Modify Order</button>
        <button id="goToBilling" type="button" >Continue Order</button>
    </div>
</div>