<form id="customizeProduct">
									<fieldset>
										<legend tabindex=1>Choose Toppings:</legend>
										<div class="toppings">
											<div class="topping" id="topping1">
												<label for="olives">
													<img src="olives.jpg" alt="Black Olives Price $10" /> 
												</label>
												<div class="toppingCheckbox">
													Black Olives<br/>	
													Price $10<br/>
													<input onclick="addRemoveTopping({checkboxid:'olives',name:'Black Olives', price:10})" 
													 onFocus="onFocus('topping1')" onBlur="onBlur('topping1')" id="olives" type="checkbox" name="toppings" value="olives">
												</div>
											</div>
											<div class="topping" id="topping2">
												<label for="crcap"> 
													<img src="crcap.jpg" alt="Crisp Capsicum Price $10" />
													</label>
													<div class="toppingCheckbox">
													Crisp Capsicum<br/>
													Price $10<br/>
													<input onclick="addRemoveTopping({checkboxid:'crcap',name:'Crisp Capsicum', price:10})" 
													onFocus="onFocus('topping2')" onBlur="onBlur('topping2')" id="crcap" type="checkbox" name="toppings" value="crcap">
													</div>
											</div>
											<div class="topping" id="topping3">
												<label for="mushrooms">
													<img src="mushroom.jpg" alt="Mushrooms Price $10" />
													</label>
													<div class="toppingCheckbox">
														Mushrooms<br/>
														Price $10<br/>
													<input onclick="addRemoveTopping({checkboxid:'mushrooms',name:'Mushrooms', price:10})" 
													onFocus="onFocus('topping3')" onBlur="onBlur('topping3')" id="mushrooms" type="checkbox" name="toppings" value="mushrooms">
													</div>
											</div>
											<div class="topping" id="topping4">
												<label for="paneer"> 
													<img src="paneer.jpg" alt="Paneer Price $10" />
													</label>
													<div class="toppingCheckbox">
													Paneer<br/>
													Price $10<br/>
													<input onclick="addRemoveTopping({checkboxid:'paneer',name:'Paneer', price:10})"
													onFocus="onFocus('topping4')" onBlur="onBlur('topping4')" id="paneer" type="checkbox" name="toppings" value="paneer">
													</div>
											</div>
											<div class="topping" id="topping5">
												<label for="gcorn">
													<img src="gcorn.jpg" alt="Golden Corn Price $10" />
													</label>
													<div class="toppingCheckbox">
														Golden Corn<br/>
														Price $10<br/>
													<input onclick="addRemoveTopping({checkboxid:'gcorn',name:'Golden Corn', price:10})"
													onFocus="onFocus('topping5')" onBlur="onBlur('topping5')" id="gcorn" type="checkbox" name="toppings" value="gcorn">
													
													</div>
											</div>
											<div class="topping" id="topping6">
												<label for="ftomato">
													<img src="ftomato.jpg" alt="Fresh Tomato Price $10" />
													</label>
													<div class="toppingCheckbox">
														Fresh Tomato<br/>
														Price $10<br/>
													<input onclick="addRemoveTopping({checkboxid:'ftomato',name:'Fresh Tomato', price:10})"
													onFocus="onFocus('topping6')" onBlur="onBlur('topping6')" id="ftomato" type="checkbox" name="toppings" value="ftomato">
													</div>
											</div>
											<div class="topping" id="topping7">
												<label for="Jalapeno">
														
													<img src="Jalapeno.jpg" alt="Jalapeno Price $10" />
													</label>
													<div class="toppingCheckbox">
														Jalapeno<br/>
														Price $10<br/>
													<input onclick="addRemoveTopping({checkboxid:'Jalapeno',name:'Jalapeno', price:10})"
													onFocus="onFocus('topping7')" onBlur="onBlur('topping7')" id="Jalapeno" type="checkbox" name="toppings" value="Jalapeno">
													</div>
											</div>
											<div class="topping" id="topping8">
												<label for="RedPepper">
													<img src="redpepper.jpg" alt="Red Pepper Price $10" />
													</label>
													<div class="toppingCheckbox">
														Red Pepper<br/>
														Price $10<br/>
													<input onclick="addRemoveTopping({checkboxid:'RedPepper',name:'Red Pepper', price:10})"
													onFocus="onFocus('topping8')" onBlur="onBlur('topping8')" id="RedPepper" type="checkbox" name="toppings" value="RedPepper">
													</div>
											</div>
											<div class="topping" id="topping9">
												<label for="Babycorn">
													<img src="Babycorn.jpg" alt="Babycorn Price $10" />
													</label>
													<div class="toppingCheckbox">
														Babycorn<br/>
														Price $10<br/>
													<input onclick="addRemoveTopping({checkboxid:'Babycorn',name:'Babycorn', price:10})"
													onFocus="onFocus('topping9')" onBlur="onBlur('topping9')" id="Babycorn" type="checkbox" name="toppings" value="Babycorn">
													</div>
											</div>
											<div class="topping" id="topping10">
												<label for="cheese">
													<img src="cheese.jpg" alt="Extra Cheese Price $10" />
													</label>
													<div class="toppingCheckbox">
														Extra Cheese<br/>
														Price $10<br/>
													<input onclick="addRemoveTopping({checkboxid:'cheese',name:'Extra Cheese', price:10})"
													onFocus="onFocus('topping10')" onBlur="onBlur('topping10')" id="cheese" type="checkbox" name="toppings" value="cheese">
													</div>
											</div>
										</div>
										<div>
											<button id="modifyOrder" type="button" >Modify Order</button>
											<button id="saveToppings" type="button" >Review Order</button>
										</div>
									</fieldset>
								</form>
<script>
  loadSelectedToppings();
</script>