<form id="customizeProduct">
									<fieldset>
										<legend tabindex=1>Choose Toppings:</legend>
										<div class="toppings">
											<div class="topping">
												<label for="olives">
														Black Olives 
													<img src="olives.jpg" alt="Black Olives " />
													<input id="olives" type="checkbox" name="toppings" value="olives">
												</label>
											</div>
											<div class="topping">
												<label for="crcap">
														Crisp Capsicum 
													<img src="crcap.jpg" alt="Crisp Capsicum" />
													<input id="crcap" type="checkbox" name="toppings" value="crcap">
												</label>
											</div>
											<div class="topping">
												<label for="mushrooms">
														Mushrooms
													<img src="mushroom.jpg" alt="" />
													<input id="mushrooms" type="checkbox" name="toppings" value="mushrooms">
												</label>
											</div>
											<div class="topping">
												<label for="paneer">
														Paneer 
													<img src="paneer.jpg" alt="" />
													<input id="paneer" type="checkbox" name="toppings" value="paneer">
												</label>
											</div>
											<div class="topping">
												<label for="gcorn">
														Golden Corn
													<img src="gcorn.jpg" alt="" />
													<input id="gcorn" type="checkbox" name="toppings" value="gcorn">
													
												</label>
											</div>
											<div class="topping">
												<label for="ftomato">
														Fresh Tomato
													<img src="ftomato.jpg" alt="" />
													<input id="ftomato" type="checkbox" name="toppings" value="ftomato">
												</label>
											</div>
											<div class="topping">
												<label for="Jalapeno">
														Jalapeno
													<img src="Jalapeno.jpg" alt="" />
													<input id="Jalapeno" type="checkbox" name="toppings" value="Jalapeno">
												</label>
											</div>
											<div class="topping">
												<label for="RedPepper">
														Red Pepper
													<img src="redpepper.jpg" alt="" />
													<input id="RedPepper" type="checkbox" name="toppings" value="RedPepper">
												</label>
											</div>
											<div class="topping">
												<label for="Babycorn">
														Babycorn
													<img src="Babycorn.jpg" alt="" />
													<input id="Babycorn" type="checkbox" name="toppings" value="Babycorn">
												</label>
											</div>
											<div class="topping">
												<label for="cheese">
														Extra Cheese
													<img src="cheese.jpg" alt="" />
													<input id="cheese" type="checkbox" name="toppings" value="cheese">
												</label>
											</div>
										</div>
										<div>
											<button id="modifyOrder" type="button" >Modify Order</button>
											<button id="saveToppings" type="button" >Review Order</button>
										</div>
									</fieldset>
								</form>